@import "tailwindcss";

@config "../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  background-color: #f5f5f5;
  color: #111827;
}

.dark body,
.dark html {
  background-color: #161618;
  color: #e0e0e3;
}
